<div class="sec_search_cat procuct_dropdown_menu only_pc">
		<div class="wrap_flex">
			
<section class="series">
	<p class="ttl">シリーズから探す</p>
	<ul>
		{% for link in linklists.all-collections.links %}
			{% for collection in collections %}
				{% if link.title == collection.title %}
					<li><a href="{{ collection.url }}"><div class="inner"><p>{{ link.title }}</p><span>{{ collection.metafields.custom._subtitle }}</span></div></a></li>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
</section>
<section class="category">
	<p class="ttl">カテゴリから探す</p>
	<ul>
		{% for block in section.blocks %}
		{%- case block.type -%}
			{%- when 'cat' -%}
				<li><a href="http://127.0.0.1:9292/collections/all/{{ block.settings.cat_url }}">{{ block.settings.cat_menu }}</a></li>
		{%- endcase -%}
		{% endfor %}
	</ul>
</section>
<section class="trouble">
	<p class="ttl">肌悩みから探す</p>
	<ul>
		{% for block in section.blocks %}
		{%- case block.type -%}
			{%- when 'prob' -%}
				<li><a href="http://127.0.0.1:9292/collections/all/{{ block.settings.prob_url }}">{{ block.settings.prob_menu }}</a></li>
		{%- endcase -%}
		{% endfor %}
	</ul>
</section>
		</div>
</div>
	<div class="sec_search_cat only_sp">
		<ul>
<li class="series">
	<span class="btn_acc">シリーズから</span>
	<ul class="cont_acc">
		<li><a href="https://www.decencia.co.jp/product/decencia/"><div class="inner"><p>DECENCIA</p><span>エイジングケア</span></div></a></li>
		<li><a href="https://www.decencia.co.jp/product/decency/"><div class="inner"><p>decency</p><span>プレミアムケア</span></div></a></li>
		<li><a href="https://www.decencia.co.jp/product/tsutsumu/"><div class="inner"><p>tsutsumu</p><span>センシティブケア</span></div></a></li>
		<li><a href="https://www.decencia.co.jp/product/saeru/"><div class="inner"><p>saeru</p><span>ホワイトニングケア</span></div></a></li>
		<li><a href="https://www.decencia.co.jp/product/ayanasu/"><div class="inner"><p>ayanasu</p><span>エイジングケア</span></div></a></li>
		<li><a href="https://www.decencia.co.jp/product/series-others/"><div class="inner"><p>OTHERS</p></div></a></li>
	</ul>
</li>
<li class="category">
	<span class="btn_acc">カテゴリから</span>
	<ul class="cont_acc">
		<li><a href="https://www.decencia.co.jp/product/trial/">トライアルセット</a></li>
		<li><a href="https://www.decencia.co.jp/product/face-wash/">クレンジング・洗顔</a></li>
		<li><a href="https://www.decencia.co.jp/product/lotion/">化粧水</a></li>
		<li><a href="https://www.decencia.co.jp/product/cream/">クリーム</a></li>
		<li><a href="https://www.decencia.co.jp/product/essence/">美容液</a></li>
		<li><a href="https://www.decencia.co.jp/product/item-others/">その他</a></li>
		<li><a href="https://www.decencia.co.jp/feature/awards/">ベストコスメ受賞商品</a></li>
	</ul>
</li>
<li class="trouble">
	<span class="btn_acc">肌悩みから</span>
	<ul class="cont_acc">
		<li><a href="https://www.decencia.co.jp/product/problems01/">高敏感肌</a></li>
		<li><a href="https://www.decencia.co.jp/product/problems02/">保湿・乾燥</a></li>
		<li><a href="https://www.decencia.co.jp/product/problems03/">シミ・くすみ</a></li>
		<li><a href="https://www.decencia.co.jp/product/problems04/">シワ</a></li>
		<li><a href="https://www.decencia.co.jp/product/problems05/">肌荒れ</a></li>
		<li><a href="https://www.decencia.co.jp/product/problems06/">花粉</a></li>
		<li><a href="https://www.decencia.co.jp/product/problems07/">日焼け</a></li>
	</ul>
</li>
<li class="all">
	<a href="https://www.decencia.co.jp/product/">すべての商品</a>
</li>
		</ul>
	</div>

	{% schema %}
  {
    "name": "カスタムメニュー",
    "settings": [],
    "blocks": [
			{
				"type": "cat",
				"name": "カテゴリーメニュー追加",
				"settings": [
					{
						"type": "text",
						"id": "cat_menu",
						"label": "メニュー項目"
					},
					{
						"type": "text",
						"id": "cat_url",
						"label": "タグ名を入力"
					}
				]
			},
			{
				"type": "prob",
				"name": "悩みメニュー追加",
				"settings": [
					{
						"type": "text",
						"id": "prob_menu",
						"label": "メニュー項目"
					},
					{
						"type": "text",
						"id": "prob_url",
						"label": "タグ名を入力"
					}
				]
			}
		],
    "presets": [
      {
        "name": "カスタムメニュー"
      }
    ]
  }
{% endschema %}