


<header class="header">
  <div class="logo">
    <a href="https://www.decencia.co.jp/">敏感肌化粧品のDECENCIA(ディセンシア)｜公式サイト</a>
  </div>
  <div class="header_nav_l only_pc">
    <ul>
      {% for link in linklists.main-menu.links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}

    </ul>
  </div>
  <div class="header_nav_l only_sp">
    <a class="btn_gnav">
      <span></span>
    </a>
  </div>
  <div class="header_nav_r">
    <div class="wrap_code only_pc">
      <input name="ccode" type="text" placeholder="キャンペーン番号の入力" style="font-family: fontplus-unused;">
      <input name="ccode_next" type="submit" value="進む">
      <input name="campaign_token" type="hidden" value="1625d152-9826-45f6-94f6-f571dfd5cbfd">
    </div>
    <ul>
      <li class="mypage">
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="ti-off">
          {% render 'icon-account' %}
        <span class="visually-hidden">
          {%- liquid
            if customer
              echo 'customer.account_fallback' | t
            else
              echo 'customer.log_in' | t
            endif
          -%}
        </span>
        </a>
      </li>
      <li class="cart">
        <a href="{{ routes.cart_url }}">
         {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
          <span class="qty">{{ cart.item_count }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="overlay"></div>
</header>