<!-- contents -->
<div class="container">
	<h1 class="pttl en">PRODUCT</h1>
	<div class="sec_search_cat procuct_dropdown_menu only_pc">
		<div class="wrap_flex">
			
<section class="series">
	<p class="ttl">シリーズから探す</p>
	<ul>
		<li><a href="https://www.decencia.co.jp/product/decencia/"><div class="inner"><p>DECENCIA</p><span>エイジングケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/decency/"><div class="inner"><p>decency</p><span>プレミアムケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/tsutsumu/"><div class="inner"><p>tsutsumu</p><span>センシティブケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/saeru/"><div class="inner"><p>saeru</p><span>ホワイトニングケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/ayanasu/"><div class="inner"><p>ayanasu</p><span>エイジングケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/series-others/"><div class="inner"><p>OTHERS</p></div></a></li>
	</ul>
</section>
<section class="category">
	<p class="ttl">カテゴリから探す</p>
	<ul>
		<li><a href="https://www.decencia.co.jp/product/trial/">トライアルセット</a></li><li><a href="https://www.decencia.co.jp/product/face-wash/">クレンジング・洗顔</a></li><li><a href="https://www.decencia.co.jp/product/lotion/">化粧水</a></li><li><a href="https://www.decencia.co.jp/product/cream/">クリーム</a></li><li><a href="https://www.decencia.co.jp/product/essence/">美容液</a></li><li><a href="https://www.decencia.co.jp/product/item-others/">その他</a></li><li><a href="https://www.decencia.co.jp/feature/awards/">ベストコスメ受賞商品</a></li>
	</ul>
</section>
<section class="trouble">
	<p class="ttl">肌悩みから探す</p>
	<ul>
		<li><a href="https://www.decencia.co.jp/product/problems01/">高敏感肌</a></li><li><a href="https://www.decencia.co.jp/product/problems02/">保湿・乾燥</a></li><li><a href="https://www.decencia.co.jp/product/problems03/">シミ・くすみ</a></li><li><a href="https://www.decencia.co.jp/product/problems04/">シワ</a></li><li><a href="https://www.decencia.co.jp/product/problems05/">肌荒れ</a></li><li><a href="https://www.decencia.co.jp/product/problems06/">花粉</a></li><li><a href="https://www.decencia.co.jp/product/problems07/">日焼け</a></li>
	</ul>
</section>
		</div>
	</div>
	<div class="sec_search_cat only_sp">
		<ul>
			
<li class="series">
	<span class="btn_acc">シリーズから</span>
	<ul class="cont_acc">
		<li><a href="https://www.decencia.co.jp/product/decencia/"><div class="inner"><p>DECENCIA</p><span>エイジングケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/decency/"><div class="inner"><p>decency</p><span>プレミアムケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/tsutsumu/"><div class="inner"><p>tsutsumu</p><span>センシティブケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/saeru/"><div class="inner"><p>saeru</p><span>ホワイトニングケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/ayanasu/"><div class="inner"><p>ayanasu</p><span>エイジングケア</span></div></a></li><li><a href="https://www.decencia.co.jp/product/series-others/"><div class="inner"><p>OTHERS</p></div></a></li>
	</ul>
</li>
<li class="category">
	<span class="btn_acc">カテゴリから</span>
	<ul class="cont_acc">
		<li><a href="https://www.decencia.co.jp/product/trial/">トライアルセット</a></li><li><a href="https://www.decencia.co.jp/product/face-wash/">クレンジング・洗顔</a></li><li><a href="https://www.decencia.co.jp/product/lotion/">化粧水</a></li><li><a href="https://www.decencia.co.jp/product/cream/">クリーム</a></li><li><a href="https://www.decencia.co.jp/product/essence/">美容液</a></li><li><a href="https://www.decencia.co.jp/product/item-others/">その他</a></li><li><a href="https://www.decencia.co.jp/feature/awards/">ベストコスメ受賞商品</a></li>
	</ul>
</li>
<li class="trouble">
	<span class="btn_acc">肌悩みから</span>
	<ul class="cont_acc">
		<li><a href="https://www.decencia.co.jp/product/problems01/">高敏感肌</a></li><li><a href="https://www.decencia.co.jp/product/problems02/">保湿・乾燥</a></li><li><a href="https://www.decencia.co.jp/product/problems03/">シミ・くすみ</a></li><li><a href="https://www.decencia.co.jp/product/problems04/">シワ</a></li><li><a href="https://www.decencia.co.jp/product/problems05/">肌荒れ</a></li><li><a href="https://www.decencia.co.jp/product/problems06/">花粉</a></li><li><a href="https://www.decencia.co.jp/product/problems07/">日焼け</a></li>
	</ul>
</li>
<li class="all">
	<a href="https://www.decencia.co.jp/product/">すべての商品</a>
</li>
		</ul>
	</div>
	{% for collection in collections  %}
	{% if collection.all_products_count > 1 %}
	<div class="sec_product">
		<h2 class="gttl en">{{ collection.title }}</h2>
	{% assign products = collection.products %}
	<ul>
	{%- for product in products -%}
		<li>
				<a href="{{ product.url }}">
					<img src="{{ product.featured_image | img_url: '1980x' }}" alt="ディセンシア クレンジング クリーム">
					<h3 class="ttl">{{ product.title }}</h3>
					<h4 class="cat">{{ product.metafields.custom._cat }}</h4>
					<p class="price">{{ product.price | money }}</p>
				</a>
			</li>
	{%- endfor -%}
	</ul>
	</div>
	{% endif %}
	{% endfor %}
	{%- comment -%} <div class="sec_product">
		<h2 class="gttl en">DECENCIA</h2>
		<ul>
			<li>
				<a href="https://www.decencia.co.jp/k087/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/k087_squ.png" alt="ディセンシア クレンジング クリーム">
					<h3 class="ttl">ディセンシア クレンジング クリーム</h3>
					<h4 class="cat">＜敏感肌用メーク落とし＞</h4>
					<p class="price">120g ¥3,465 (税込) ～</p>
				</a>
			</li>
			<li>
				<a href="https://www.decencia.co.jp/k088/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/k088_squ.png" alt="ディセンシア フォーミング ウォッシュ">
					<h3 class="ttl">ディセンシア フォーミング ウォッシュ</h3>
					<h4 class="cat">＜敏感肌用洗顔フォーム＞</h4>
					<p class="price">100g ¥2,970 (税込) ～</p>
				</a>
			</li>
			<li>
				<a href="https://www.decencia.co.jp/k089/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/k089_squ.png" alt="ディセンシア ローション">
					<h3 class="ttl">ディセンシア ローション</h3>
					<h4 class="cat">＜敏感肌用化粧水＞</h4>
					<p class="price">125mL ¥5,148 (税込) ～</p>
				</a>
			</li>
			<li>
				<a href="https://www.decencia.co.jp/k094/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/k094_squ.png" alt="ディセンシア モイストＳ／Ｃ コンセントレート">
					<h3 class="ttl">ディセンシア モイストＳ／Ｃ コンセントレート</h3>
					<h4 class="cat">医薬部外品＜敏感肌用美容液＞</h4>
					<p class="price">36mL ¥6,435 (税込) ～</p>
				</a>
			</li>
			<li>
				<a href="https://www.decencia.co.jp/k076/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/k076_squ.png" alt="アヤナス リンクルＯ／Ｌ コンセントレート">
					<h3 class="ttl">アヤナス リンクルＯ／Ｌ コンセントレート</h3>
					<h4 class="cat">医薬部外品＜敏感肌用オイル状美容液＞</h4>
					<p class="price">30mL ¥6,435 (税込) ～</p>
				</a>
			</li>
			<li>
				<a href="https://www.decencia.co.jp/k091/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/k091_squ.png" alt="ディセンシア クリーム">
					<h3 class="ttl">ディセンシア クリーム</h3>
					<h4 class="cat">＜敏感肌用クリーム＞</h4>
					<p class="price">30g ¥5,742 (税込) ～</p>
				</a>
			</li>
			<li>
				<a href="https://www.decencia.co.jp/k093/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/k093_squ.png" alt="ディセンシア デイ エッセンス">
					<h3 class="ttl">ディセンシア デイ エッセンス</h3>
					<h4 class="cat">＜敏感肌用日やけ止め美容液＞</h4>
					<p class="price">25g ¥3,960 (税込) ～</p>
				</a>
			</li>
			<li>
				<a href="https://www.decencia.co.jp/k839/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/k839_squ.png" alt="ディセンシア トライアルセット Ｓ／Ｃ">
					<h3 class="ttl">ディセンシア トライアルセット Ｓ／Ｃ</h3>
					<h4 class="cat"></h4>
					<p class="price"> ¥1,980 (税込) </p>
				</a>
			</li>
			<li>
				<a href="https://www.decencia.co.jp/k840/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/k840_squ.png" alt="ディセンシア トライアルセット Ｏ／Ｌ">
					<h3 class="ttl">ディセンシア トライアルセット Ｏ／Ｌ</h3>
					<h4 class="cat"></h4>
					<p class="price"> ¥1,980 (税込) </p>
				</a>
			</li>
		</ul>
		<a href="https://www.decencia.co.jp/product/decencia/" class="btn_40 en">MORE</a>
	</div> {%- endcomment -%}
	<div class="sec_contents series">
		<h2 class="gttl en">RELATED CONTENTS</h2>
		<ul>
			<li>
				<a href="https://www.decencia.co.jp/brand/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/img_story_1_1.jpg" alt="ABOUT">
					<h3 class="ttl">ポーラ研究所の確かな技術<br>最高水準の製造技術。</h3>
				</a>
			</li>
			<li>
				<a href="https://www.decencia.co.jp/feature/trial/">
					<img src="./すべての商品｜角層サイエンスのディセンシア_files/img_trialbnr.jpg" alt="DECENCIA TRIAL SET">
					<h3 class="ttl">使い続けるほどに、素肌そのものが美しく。1,980円のトライアルセット。</h3>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="topicpath">
	<ul>
		<li><a href="https://www.decencia.co.jp/">HOME</a></li><li><a href="https://www.decencia.co.jp/product/">商品一覧</a></li>
	</ul>
</div>
<!-- /contents -->



<input type="hidden" name="cartToken" value="05153e4f-61d1-4e89-8bd9-ebc25e3b717e">